@font-face {
    font-family: poppins-light;
    src: url('../web-fonts/Poppins-Light.ttf');
}

.about {
    text-align: left;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2%;
    margin: 10px;
    background: linear-gradient(90deg, #1c1f4a, #343988);
    color: #f1f1f1c4;
    margin: 0;
    padding: 10px;
    padding-left: 40px;
    padding-top: 60px;
    height: 40vh;
    font-family: poppins-light, 'Courier New', Courier, monospace;
    font-size: 20px;
}

.title-about {
    position: absolute;
    left: 43%;
    color: #f1f1f1;
    font-family: poppins, 'Courier New', Courier, monospace;
}

@media screen and (max-width: 920px) {
    .about {
        font-size: medium;
        height: 50vh;
    }
}

@media screen and (max-width: 700px) {
    .about {
        height: auto;
    }
}

@media screen and (max-width: 420px) {
    .title-about {
        left: 35%;
    }
}