.services {
    background: #f1f1f1;
    font-family: poppins, Arial, Helvetica, sans-serif;
    margin-top: 10px;
    color: #f1f1f1;
    margin: 20px;
    color: rgb(58, 57, 57);
    position: relative;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 3px 3px 25px 1px #a89eece1;
}

.services .services-title {
    margin-bottom: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.services .services-items {
    display: flex;
    justify-content: space-around;
}

.services .services-items img {
    width: 60px;
    height: 60px;
}

.services .services-items .image {
    display: flex;
    align-items: center;
    justify-content: center;
}

.services .services-items article{
    margin-right: 10px;
    border-radius: 5px;
    box-shadow: 2px 2px 9px rgb(192, 192, 192),
                -2px -2px 9px rgb(245, 245, 245);
    padding: 10px;
}

.services .services-items article .describe {
    margin-top: 10px;
}

.services .services-items article .describe h3 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.services .services-items article .describe p {
    text-align: center;
}

@media screen and (max-width: 720px) {
    .services .services-items {
        flex-wrap: wrap;
        /* flex-grow: 3; */
    }

    
    .services .services-items article{
        margin-top: 10px;
    }
}